.page-title {
  .bz-desc {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }
  .bz-back {
    margin-left: 16px;
    display: inline-block;
    vertical-align: middle;
  }
}

.user-opts-container {
  margin-top: 40px;
  margin-left: 338px;
  position: relative;

  .user-reset-btn {
    margin-right: 20px;
  }

  .user-submit-btn {

  }

  .user-submit-btn-info {
    display: inline-block;
    color: #949494;
    margin-left: 20px;
  }
}
