// .table-search-container {
//   position: relative;

//   .search-user {
//     vertical-align: middle;
//     margin-right: 40px;
//     width: 180px;
//   }

//   .search-czlx {
//     vertical-align: middle;
//     margin-right: 100px;
//     width: 180px;
//   }
//   .search-czst {
//     vertical-align: middle;
//     margin-right: 200px;
//     width: 180px;
//   }
//   .search-time {
//     vertical-align: middle;
//     margin-right: 20px;
//     width: 180px;
//   }
// }

.table {
  margin-bottom: 16px;
  margin-top: 30px;
}

.table > button {
  margin-right: 8px;
}

.demo-container {
    color: #f00;
}
  