.buss-opts-container {
  position: relative;
  margin-bottom: 12px;

  button {
    margin-right: 32px;
  }
}

.buss-tab-container {
  position: relative;
  display: block;
}

.bz-table-options-container {
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
}

.empty-tips-container {
  margin-bottom: 12px;
}
