.search {
  position: relative;
  margin-bottom: 12px;

  .search-label {
    margin-right: 20px;
  }
  .search-key {
    vertical-align: middle;
    margin-right: 20px;
    width: 300px;
  }

  .search-btn {
    vertical-align: middle;
  }
}